<div class="content">
    <div class="image">
        <img [src]="imageService.getImageSrc(info, type)"
             *ngIf="!this.isEditing">
        <img [src]="imageService.getImageSrc(hiddenData, type, this.isEditing)"
             *ngIf="this.isEditing">
    </div>
    <div *ngIf="!this.isEditing"
         class="info-body">
        <div class="header">
            {{info?.name}}
        </div>
        <div class="description">
            {{info?.description}}
        </div>
    </div>
    <div *ngIf="this.isEditing"
         class="info-body">
        <form #f="ngForm"
              (ngSubmit)="this.onSubmit(f)">
            <input name="name"
                   placeholder="Name"
                   [(ngModel)]="hiddenData.name"
                   class="header">
            <div>
                <textarea name="description"
                          placeholder="Description"
                          [(ngModel)]="hiddenData.description"
                          class="description">
                    </textarea>
            </div>
            <div>
                <label class="checkbox-label">
                    Discovered?
                    <input type="checkbox"
                           name="discovered"
                           [(ngModel)]="hiddenData.discovered">
                </label>
            </div>
            <div class="btn-container">
                <button class="submit-btn" type="submit">
                    Submit
                </button>
                
                <button class="secondary" type="button" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
    <a (click)="this.edit()"
       class="edit"
       *ngIf="!this.isEditing">Edit</a>
</div>